.form-group {
    input:not([type='checkbox']) {
      &.input-invalid {
        border-color: $red !important;
        &:focus {
          box-shadow: 0 0 0 1px $red;
        }
      }
      &:focus {
        box-shadow: 0 0 0 1px $primary-color;
      }
    }
    .error {
      &.tooltip {
        background-color: $red;
        opacity: 1;
        border-radius: $default-form-control-radius;
        padding: 0 $input-padding-x;
        margin-top: 5px;
        color: $white;
      }
    }
  
    .error::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 10%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #f44437 transparent transparent transparent;
      transform: rotate(180deg);
    }
  }
  